@tailwind base;
@tailwind utilities;
@tailwind components;

a {
	@apply text-primary;
}

html {
	@apply bg-secondary text-typography;
}

html,
body {
	@apply overflow-x-hidden;
}

ion-icon {
	visibility: visible;
}

.container {
	@apply px-5;
}

.section-title {
	@apply mb-6;
}

@keyframes clipFromLeftToRight {
	0% {
		clip-path: inset(0 100% 0 0);
	}

	100% {
		clip-path: inset(0);
	}
}

@keyframes clipFromTopToBottom {
	0% {
		clip-path: inset(0 0 100% 0);
	}

	100% {
		clip-path: inset(0);
	}
}
